{%- assign nav = site.data.nav -%}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a href="https://oregonstate.edu"><img src="{{ '/img/osu-lockup.png' | relative_url }}" width="100" alt="Oregon State University"/></a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    {%- for item in nav %}
    <a class="p-2 text-dark d-md-inline-block{% if page.url == item.url %} font-weight-bold{% endif %}"
       href="{{ item.url | relative_url }}"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>
    {%- endfor %}
  </nav>
</div>
